In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('titanic.csv', usecols=['Sex','Age','Fare','Pclass','Survived'])
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [3]:
(df.isna().sum()/df.shape[0])*100

Survived     0.00000
Pclass       0.00000
Sex          0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [4]:
df.shape

(891, 5)

In [5]:
df.fillna(df.Age.median(),inplace=True)

In [6]:
df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'Fare'], dtype='object')

In [7]:
for i in df.columns[1:3]:
    print(i,":", len(df[i].unique()),"labels")

Pclass : 3 labels
Sex : 2 labels

In [8]:
dummy = pd.get_dummies(df['Sex'])
dummy

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [9]:
dummy_df = pd.concat([df,dummy],axis = 'columns')
dummy_df.head()

   Survived  Pclass     Sex   Age     Fare  female  male
0         0       3    male  22.0   7.2500       0     1
1         1       1  female  38.0  71.2833       1     0
2         1       3  female  26.0   7.9250       1     0
3         1       1  female  35.0  53.1000       1     0
4         0       3    male  35.0   8.0500       0     1

In [10]:
target = dummy_df.Survived
inputs = dummy_df.drop(['Survived','Sex'],axis = 'columns')

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, train_size = 0.8)

In [13]:
from sklearn import tree

In [14]:
model = tree.DecisionTreeClassifier()

In [16]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [17]:
model.predict(X_test)

array([0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0], dtype=int64)

In [18]:
model.score(X_test,y_test)

0.7877094972067039